/* CSS Document */

body
{
	margin: 0 0 0 0 ;	
}


.login_wrapper
{
	max-width:1000px;
	min-width:1000px;
	background:#CCC;
	min-height:600px;
	margin:0 auto 0 auto;	
	border: 2px solid #8149F7;
}

.login_header
{
	height:40px;
	color:#FFF;
	background:#8149F7;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding-top:20px;
	
}

.login_footer
{
	max-width:1000px;
	min-width:1000px;
	margin:0 auto 0 auto;
	text-align:center;
	height:30px;	
	color:#FFF;
	background:#8149F7;
	padding-top:10px;
	border: 2px solid #8149F7;
}

.bank_box
{
	width:300px;
	height:320px;
	background:#FFF;
	margin:70px 100px 70px 70px;	
	float:left;
	border: 1px solid #000;
	text-align:center;
	padding-top:80px;
}

.bank_box:hover{
   	border: 2px solid #000;
   	width:298px;
	height:318px;
	color:#00F;
}

.imgDiv
{
	width:180px;
	height:180px;
	margin:0 auto 0 auto;
}

.bank_box div
{
	padding-top:20px;
	text-decoration:none;	
}

.middle_line
{
	width:2px;
	height:400px;
	background:#000;
	margin-top:70px;
	float:left;
}

.personal_login
{
	margin:100px auto 0 auto;
	width:500px;
	height:300px;
	background:#FFF;
	border:1px #000 solid;
}

.personal_login form
{
	padding:30px 0px 0px 50px;
}

.hdr
{
	height:30px;
	background:#293483;
	color:#FFF;	
	padding:10px 0px 0px 5px;
}

.frm-row {
	display: block;
	height: 40px;
	width: 96%;
}

.form_label {
	display: inline;
	float: left;
	margin: 0 0 7px;
	padding: 20px 10px 0 10px;
	text-align: left;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
}

.txt-box-field {
	display: inline;
	float: left;
	margin: 15px 0 8px 0;
	width: 230px;
}

.txtBox
{
	width:230px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.btnCommand
{
	height:30px;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background:#FFF;
	border:1px #000 solid;
	min-width:80px;
}

.btnCommand:hover
{
	background:#CCC;
}
