<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- Entity Manager Factory -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="auth_persistence"/>
        <property name="dataSource" ref="mySqlDataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!--Production MySql data source -->
    <bean id="mySqlDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="description" value="integration_ds"/>
        <!-- configuration pool via c3p0 -->
        <property name="acquireIncrement" value="${datasource.acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${datasource.idleConnectionTestPeriod}"/>
        <!-- seconds -->
        <property name="maxPoolSize" value="${datasource.maxPoolSize}"/>
        <property name="maxStatements" value="${datasource.maxStatements}"/>
        <property name="minPoolSize" value="${datasource.minPoolSize}"/>
        <property name="initialPoolSize" value="${datasource.initialPoolSize}"/>
        <property name="maxIdleTime" value="${datasource.maxIdleTime}"/>
        <property name="acquireRetryAttempts" value="${datasource.acquireRetryAttempts}"/>
        <property name="acquireRetryDelay" value="${datasource.acquireRetryDelay}"/>
        <property name="breakAfterAcquireFailure" value="${datasource.breakAfterAcquireFailure}"/>
        <property name="maxIdleTimeExcessConnections" value="${datasource.maxIdleTime}"/>
        <property name="checkoutTimeout" value="${datasource.maxWait}"/>
        <property name="preferredTestQuery" value="${datasource.connectionHealthQuery}"/>
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="mySqlDataSource"/>
    </bean>

    <!-- Enable Annotation-Driven Transaction Demarcation -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Enable Persistence Exception Translation -->
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <!-- Enable Entity Manager Injection for @PersistenceContext Annotation -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <context:annotation-config/>

    <bean id="userDao" class="com.sri.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="com.sri.service.impl.UserServiceImpl" />

    <bean id="userManager" class="com.sri.service.impl.UserServiceImpl" />

    <!--<bean id="removeMe" class="com.sri.Test" init-method="init"/>-->

    <bean id="loginTokenManager" class="com.sri.service.impl.LoginTokenManagerImpl"/>

    <bean id="loginTokenDao" class="com.sri.dao.impl.LoginTokenDaoImpl"/>

</beans>